h3{
    font-size:25px !important;
}

.btn-success:hover{
    background-color:rgb(127, 73, 198);
}

canvas{
    animation-name:example;
    animation-duration:4s;
    animation-iteration-count:infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(0, 255, 81);}
    to{box-shadow:1px 1px 28px yellow;}
}

body{
    background:linear-gradient(to right top, #33f143, #e8441f, #16d4ae, #97df13, #68cfff);
}